<% provide(:title, 'About Us') %>
<h1>About</h1>
<p>
This page has been designed as part of a project for the course "Project Course"
It is made to be a newer, better version of the current webpage for the Computer Science departement @ IUS
</br>made by <%= mail_to "edsubasic@gmail.com", "edsubasic" %>
</p>