
<div class="stats">
 <a href="<%= course_listeners_path(@course) %>">
			<strong id="listeners" class="stat">
				Students taking: <%= @course.listeners.count %> 
			</strong>
			
		</a>
  
</div>